body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

}

h1, h3{
  font-family: serif;
  font-weight: 300;
  color: #333;
  padding-bottom: 0px;

}
h2, h4, h5, h6 {
  font-family: monospace;
  font-weight: 300;
  color: #333;
}

p{
  line-height: 28px;
  margin-bottom: 5px;
}

.centered{
  text-align: center;
}

a{
  color: #f85c37;
  text-decoration:none;
  background-color:transparent;
  -webkit-text-decoration-skip:objects}

a:hover, a:focus{
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #000;
  margin: 1em 0;
  padding: 0;


}


#a { /**заголовок**/
  background: #f2f2f2;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;

}
#shapka {
  background: #232f3e;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 0px;

}
#shapka h1{
  color: #fff
}




#s a {
  font-size: 30px;
  padding: 15px;
  color:#d0d8e5;background-color:#c82333;border-color:#bd2130


}
#s { /***кнопки*/
  background: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;


}

#s a:hover {
  color:#d0d8e5;background-color:#c82333;border-color:#bd2130
}

#s a:focus{
  box-shadow:0 0 0 .2rem rgba(220,53,69,.5)
}

#s a:disabled {
  color:#d0d8e5;background-color:#dc3545;border-color:#dc3545
}

.btn {
  display: inline-block;
  display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}







#q { /**предостережение**/
  background: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}





#d { /**контакты**/
   background: #fff;
   padding-top: 10px;
   padding-bottom: 10px;
}

#d a {
  color: #000000;
  font-size: 20px;
  padding: 20px;

}

#d a:hover {
  color: #3c7de8;
}

#b { /**назад**/
  font-size: 20px;
  padding-left: 30px;
  padding-bottom: 1px;
}

#b a{
  color:#febd69;
  text-decoration: underline;
}

#b a:hover{

  text-decoration: none;
}
/**текст**/
#w a{
  text-decoration: underline;
}
#w a:hover{
  color: #000;
  text-decoration: none;
}

#wlcm  {
    background: #232f3e;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;

  }
  #wlcm h1{
    color: #fff

}
