h1 {
  margin-top: 200px;
}
.btn {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: linear-gradient(to right, rgba(242, 75, 186,1), rgba(54,184,233,1));
}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
