h1 {
  margin-top: 200px;
}
.btn {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("https://pp.userapi.com/c844416/v844416256/11bd69/YuOkSldXcFc.jpg");
}
.center {

    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
