h1 {
  margin-top: 200px;
}
.btn {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(4, 2, 29);
  background-image: linear-gradient(to right, rgb(223, 224, 226), rgb(180, 179, 182));
}
.center {

    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
